<div>
    <div class="well" ng-switch on="isRegistration">
       <h1 ng-switch-when="false"> Login </h1>
       <h1 ng-switch-when="true"> Register </h1>
       <span class="label label-danger" ng-show="showError">The passwords need to match!</span>
    </div>
    <form class="form" novalidate name="accessForm">
        <input type="text" class="form-control" placeholder="Username" ng-model='user.name' maxlength="25">
        <input name="password" type="password" class="form-control" placeholder="Password" ng-model='user.password' maxlength="25">
        <div ng-switch on="isRegistration">

<!-- login -->

            <input class="btn btn-success" type="submit" ng-submit="" value="Login" ng-click="login()" ng-switch-when="false">
            <a class="btn btn-primary" ng-switch-when="false" ng-click="toggleForm()">Register</a>

<!-- registration -->

            <input name="confirm" type="password" class="form-control" placeholder="Confirm password" maxlength="25" ng-switch-when="true" ng-model="formData.confirm">
            <input class="btn btn-success" type="submit" ng-submit="" value="Register" ng-click="register()" ng-switch-when="true">
            <a class="btn btn-primary" ng-switch-when="true" ng-click="toggleForm()">Login</a>
        </div>
    </form>
</div>